{
  "extends": "airbnb-base",
  "rules": {
    "comma-dangle": ["error", "never"],
    "one-var": ["error", {
      "const": "never"
    }],
    "object-curly-spacing": ["error", "never"],
    "arrow-body-style": [0],
    "max-len": ["warn", 200],
    "brace-style": ["error", "stroustrup"],
    "object-shorthand": [0],
    "no-underscore-dangle": ["error", { "allowAfterThis": true }]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
