syntax: glob

.idea
lib/*
dist/*
output/*
config/config.local.*
node_modules
debug.html
debug.js
npm-debug.log
package-lock.json
yarn.lock
ts-build
.DS_Store
develop/channels

.nyc_output/*
coverage/*
*.pem
*.zip

